.labelText {
  font-size: 1.2rem;
  color: #616066;
  margin-bottom: 0.3rem;
}

.flexError,
.flexErrorBig {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 100%;
  position: relative;
}

.flexError i,
.flexErrorBig i {
  position: absolute;
  color: #f03e3e;

  top: 12%;
  left: 90%;
  font-size: 1.6rem;
}

.flexErrorBig i {
  left: 95.5%;
}

.input,
.inputName,
.inputError {
  background-color: #faf9ff;
  padding-left: 30px;
  color: #313033;
  padding: 0.5rem 0;
  border: none;
  box-shadow: 0 1px 0.2px #aaa8b3;
  font-family: 'Adobe Clean UX', sans-serif;
  font-size: 1.2rem;
  transition: all 0.4s;
}

.name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.5rem;
}

.input:focus,
.inputName:focus,
.inputError {
  outline: none;
  box-shadow: 0 1.6px 0 #7950f2;
}

.inputError {
  box-shadow: 0 1.6px 0px #f03e3e;
}

.errorMsg,
.errorMsgSelect {
  font-size: 1.1rem;
  margin-bottom: 1.8rem;
  color: #f03e3e;
}

.errorMsgSelect {
  margin-bottom: 0;
}
